html, body {
    justify-content: center;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
    background-color: black;
}

.header {
}

h1 {
    font-size: 3.125rem;
    color: white;
    font-weight: normal;
}

h2 {
    font-size: 2.625rem;
    color: white;
    font-weight: normal;
}

p {
    font-size: 1.3125rem;
    color: gray;
}

a {
    text-decoration: underline;
    color: aquamarine;
    font-size: 1rem;
}

.phone {

}

.header, .link, .phone, .content, .image, .icon {
    margin: 50px 0;
}

.copyright {
    text-align: right;
    justify-content: right;
}